<h3><?= $data["team_name"]; ?> - <?= $data["owner"]; ?></h3>
<p>Filter By Position:
  <select onchange="filterThis()" id="filterInput" name="position">
    <option value="">None</option>
    <option value="qb">QB</option>
    <option value="wr">WR</option>
    <option value="rb">RB</option>
    <option value="te">TE</option>
  </select>
</p>
<table class="table" id="filterTable">
  <thead>
    <tr>
      <th scope="col">Players</th>
      <th scope="col">Position</th>
      <th scope="col">Average</th>
    </tr>
  </thead>
  <tbody>
    <?php foreach ($data["players"] as $player): ?>
        <tr scope='row'>
        <td><a href="/player?name=<?= urlencode($player['name']); ?>&team=<?= $data['id']; ?>"><?= $player["name"]; ?></a></td>
        <td><?= $player["position"]; ?></td>
        <td><?= $player["ranking"]; ?></td>
        </tr>
    <?php endforeach; ?>
  </tbody>
</table>
