<h3><?= $data["team_name"]; ?> - <?= $data["owner"]; ?></h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Players</th>
      <th scope="col">Position</th>
      <th scope="col">Average</th>
    </tr>
  </thead>
  <tbody>
    <?php foreach ($data["players"] as $player): ?>
        <tr scope='row'>
        <td><?= $player["name"]; ?></td>
        <td><?= $player["position"]; ?></td>
        <td><?= $player["ranking"]; ?></td>
        </tr>
    <?php endforeach; ?>
  </tbody>
</table>
